<form (ngSubmit)="submitForm()">
  <div id="search-bar">
    <mat-form-field class="field">
      <input matInput id="searchQuery" [placeholder]="'Search around what address?'">
      <i matSuffix class="material-icons">search</i>
    </mat-form-field>
    <span class="filtersDisplayButton" *ngIf="!showFilters" (click)="showFilters=!showFilters">Show Filters <i class="material-icons">expand_more</i></span>
    <span class="filtersDisplayButton" *ngIf="showFilters" (click)="showFilters=!showFilters">Hide Filters <i class="material-icons">expand_less</i></span>
  </div>
  <div id="filters" *ngIf="showFilters">
    <div id="slider-container">
      <span id="text">Time Range: </span>
      <igx-slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="24" [lowerBound]="0" [upperBound]="24" [(ngModel)]="priceRange"></igx-slider>
    </div>
  </div>
</form>