<form (ngSubmit)="submitForm()">
  <div id="search-bar">
    <mat-form-field class="field">
      <input matInput id="searchQuery" name="inputField" [(ngModel)]="inputField" [placeholder]="'Search around what address?'">
      <i matSuffix class="material-icons">search</i>
    </mat-form-field>
    <span class="filtersDisplayButton" *ngIf="!showFilters" (click)="showFilters=!showFilters">Show Filters <i class="material-icons">expand_more</i></span>
    <span class="filtersDisplayButton" *ngIf="showFilters" (click)="showFilters=!showFilters">Hide Filters <i class="material-icons">expand_less</i></span>
  </div>
  <div id="filters" *ngIf="showFilters">
    <div id="slider-container">
      <span id="text">Time Range: </span>
      <igx-slider id="slider" [type]="sliderType.RANGE" [minValue]="0" [maxValue]="24" [lowerBound]="0" [upperBound]="24" [(ngModel)]="priceRange" [ngModelOptions]="{standalone: true}"></igx-slider>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <mat-checkbox class="example-margin" name='temp' [(ngModel)]="checked">
            Wheelchair accessible <i class="material-icons">accessible</i>
          </mat-checkbox>
        </div>
        <div class="col-xs-12 col-md-6">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select [placeholder]="'Gender'">
              <mat-option *ngFor="let gender of genders" [value]="gender">
                {{gender}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>